<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'EditSurgicalProcedure'" [items]="['surgical procedure']" [active_item]="'edit-surgical procedure'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edit Surgical Procedure</h2>
          </div>

          <div class="body">
            <form class="m-4" [formGroup]="surgicalProcedureForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Procedure Code</mat-label>
                    <input matInput formControlName="code" required>
                    <mat-error *ngIf="surgicalProcedureForm.get('code')?.hasError('required')">
                      Procedure Code is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Procedure Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="surgicalProcedureForm.get('name')?.hasError('required')">
                      Procedure Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Category</mat-label>
                    <textarea matInput formControlName="category"></textarea>
                  </mat-form-field>
                </div>
              </div>

              

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!surgicalProcedureForm.valid" mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
