
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Medical History'" [items]="['history']" [active_item]="'history'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Medical History</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="historyForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have Asthma?</p>
                  <mat-radio-group formControlName="q1">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have Cancer?</p>
                  <mat-radio-group formControlName="q2">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have Heart diseases?</p>
                  <mat-radio-group formControlName="q3">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have Diabetes?</p>
                  <mat-radio-group formControlName="q4">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Have you ever had a stroke?</p>
                  <mat-radio-group formControlName="q5">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have Tuberculosis?</p>
                  <mat-radio-group formControlName="q6">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Are you currently taking any medication?</p>
                  <mat-radio-group formControlName="q7">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                  <input *ngIf="historyForm.get('q7')?.value === 'Yes'" formControlName="med_details" placeholder="Please provide details" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Have you ever been diagnosed with a neurological disorder, such as epilepsy or multiple sclerosis ?</p>
                  <mat-radio-group formControlName="q8">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Medical History</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="historyForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <p>Do you use or have you ever used illegal drugs?</p>
                  <mat-radio-group formControlName="q9">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>How often do you consume alcohol?</p>
                  <mat-radio-group formControlName="q10">
                    <mat-radio-button value="Weekly">Weekly</mat-radio-button><br>
                    <mat-radio-button value="Monthly">Monthly</mat-radio-button><br>
                    <mat-radio-button value="Occasionally">Occasionally</mat-radio-button><br>
                    <mat-radio-button value="Never">Never</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have any medication allergies?</p>
                  <mat-radio-group formControlName="q11">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                  <input *ngIf="historyForm.get('q11')?.value === 'Yes'" formControlName="all_details" placeholder="Please provide details" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have a history of major surgery?</p>
                  <mat-radio-group formControlName="q12">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                  <input *ngIf="historyForm.get('q12')?.value === 'Yes'" formControlName="sur_details" placeholder="Please provide details" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>How do you find out about thyroid problems?</p>
                  <mat-radio-group formControlName="q13">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you have a history of infectious diseases?</p>
                  <mat-radio-group formControlName="q14">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Do you use or have you ever used tobacco?</p>
                  <mat-radio-group formControlName="q15">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-raised-button color="primary">Save</button>
                  <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
