<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Consultation'" [items]="[]" [active_item]="'Consultation'"></app-breadcrumb>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>
            <strong>Consultation details</strong>
          </h2>
        </div>
        <div class="body">
          <div class="container">
            <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-10">
                  <ul class="left-timeline">
                    <!-- Patient Key and Consultation -->
                    <li>
                      <time class="left-time">
                        <span class="large" style="font-size: 16px;">Patient Key</span>
                      </time>
                      <div class="left-icon">
                        <img src="assets/images/user/user1.jpg" alt="">
                      </div>
                      <div class="left-label empty">
                        <span>{{ userKy }}</span>
                      </div>
                    </li>
                    <li>
                      <time class="left-time">
                        <span class="large" style="font-size: 16px;">Consultation</span>
                      </time>
                      <div class="left-icon">
                        <img src="assets/images/user/user2.jpg" alt="">
                      </div>
                      <div class="left-label">
                        <h2>
                          Consultation with
                          <input type="text" formControlName="doctorName" placeholder="Enter doctor's name" required>
                        </h2>
                        <textarea style="width: 600px; height: 80px;" formControlName="descCon" placeholder="Description of the consultation" required></textarea>
                      </div>
                    </li>

                    <!-- Prescription -->
                    <li>
                      <time class="left-time">
                        <span class="large" style="font-size: 16px;">Prescription</span>
                      </time>
                      <div class="left-icon">
                        <img src="assets/images/user/user5.jpg" alt="">
                      </div>
                      <div class="left-label">
                        <h2>
                          Medications:
                          <mat-form-field appearance="outline" style="margin-left: 19px;">
                            <mat-label>Choose medications</mat-label>
                            <mat-select formControlName="medications" multiple>
                              <mat-option *ngFor="let med of medicationOptions" [value]="med">
                                {{ med.medicationName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </h2>
                        <h2>
                          Vaccinations:
                          <mat-form-field appearance="outline" style="margin-left: 18px;">
                            <mat-label>Choose vaccinations</mat-label>
                            <mat-select formControlName="vaccinations" multiple>
                              <mat-option *ngFor="let vac of vaccinationOptions" [value]="vac">
                                {{ vac.vaccineLabel }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </h2>
                        <h2>
                          Analysis:
                          <mat-form-field appearance="outline" style="margin-left: 50px;">
                            <mat-label>Choose analysis</mat-label>
                            <mat-select formControlName="analyses" multiple>
                              <mat-option *ngFor="let ana of analysisOptions" [value]="ana">
                                {{ ana.biologicalAnalysisName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </h2>
                        <textarea style="width: 600px; height: 80px;" formControlName="descPre" placeholder="Description of the prescription"></textarea>
                      </div>
                    </li>

                    <!-- Operation -->
                    <li>
                      <time class="left-time">
                        <span class="large" style="font-size: 16px;">Operation</span>
                      </time>
                      <div class="left-icon">
                        <img src="assets/images/user/user5.jpg" alt="">
                      </div>
                      <div class="left-label">
                        <h2>
                          Surgical Procedure:
                          <mat-form-field appearance="outline" style="margin-left: 50px;">
                            <mat-label>Choose Surgical</mat-label>
                            <mat-select formControlName="surgicalProcedures" multiple>
                              <mat-option *ngFor="let proc of surgicalProcedureOptions" [value]="proc">
                                {{ proc.cptCode }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </h2>
                        <textarea style="width: 600px; height: 80px;" formControlName="descSur" placeholder="Description of the surgical procedure"></textarea>
                      </div>
                    </li>

                    <!-- Details -->
                    <li>
                      <time class="left-time">
                        <span class="large" style="font-size: 16px;">Details</span>
                      </time>
                      <div class="left-icon">
                        <img src="assets/images/user/user6.jpg" alt="">
                      </div>
                      <div class="left-label">
                        <textarea style="width: 600px; height: 80px;" formControlName="comment" placeholder="Details or Comments"></textarea>
                      </div>
                    </li>

                    <!-- Buttons -->
                    <li>
                      <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" class="center-button">Save</button>
                        <button mat-raised-button color="warn" type="button" class="center-button" (click)="onCancel">Cancel</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
