<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            New Vaccination List
                </div>
            </div>
        </div>
        <button mat-icon-button class="modal-close-button" aria-label="Close dialog"  (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="vaccinationForm" (ngSubmit)="onSubmit()" >
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Adverse Effect Name</mat-label>
                        <input matInput formControlName="adverseEffectName" type="text" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>receipt</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label> 
                            Adverse Effect Severity
                        </mat-label>
                        <mat-icon class="material-icons-two-tone color-icon" matSuffix>category</mat-icon>
                        <mat-select formControlName="adverseEffectSeverity" required>
                            <mat-option [value]="'SEVERE'">SEVERE</mat-option>
                            <mat-option [value]="'MODERATE'">MODERATE</mat-option>
                            <mat-option [value]="'MILD'">MILD</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Adverse Effect Desc</mat-label>
                        <input matInput formControlName="adverseEffectDesc" type="text" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>receipt</mat-icon>
                    </mat-form-field>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit">Save</button>
                        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>