<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
      <ul class="clearfix">
        <li>
          <p><span class="font-weight-bold"> Physical Category Name:  {{ category.phyCategoryName }}</span></p>
        </li>
      </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
      <button mat-flat-button color="warn" (click)="onConfirmClick()">
        Delete
      </button>
      <button mat-flat-button tabindex="-1" (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
