


.mat-form-field {
  width: 100%; /* Mat-form-field occupe toute la largeur */
}

.mat-form-field textarea {
  width: 100%; /* Textarea occupe toute la largeur */
  resize: none; /* Désactive la redimension des utilisateurs, facultatif */
}


