<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- Breadcrumb for navigation -->
      <app-breadcrumb [title]="'Add Surgical Procedure'" [items]="['Surgical Procedure']" [active_item]="'Add Surgical Procedure'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Add Surgical Procedure</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="surgicalProcedureForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <!-- CPT Code Field -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>CPT Code</mat-label>
                    <input matInput formControlName="cptCode" required>
                    <mat-error *ngIf="surgicalProcedureForm.get('cptCode')?.hasError('required')">
                      CPT Code is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- CPT Description Field -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>CPT Description</mat-label>
                    <input matInput formControlName="cptDesc" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <!-- CPT Category Field -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>CPT Category</mat-label>
                    <input matInput formControlName="cptCategory" required>
                  </mat-form-field>
                </div>

                <!-- Additional form fields as needed -->
              </div>

              <div class="row">
                <!-- Additional fields can be added here if required -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <!-- Add more form fields as needed -->
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <!-- Submit and Cancel buttons -->
                  <button class="btn-space" [disabled]="!surgicalProcedureForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
                  <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
